.filtersDiv{
    padding: 5;
    text-align: center;
    margin-top: 35px;    
}

.filtersTitle{
    font-weight: bold;
    margin-right: 2em;
}

.establishmentDiv{
    background-color: rgba(241, 223, 223, 0.863);
    padding: 8px;
    margin : 1em;
    Text-Align: center;
}

.link{
    font-size: large;
    cursor: pointer;    
    color: blue !important;
}

.infoText{
    
}

.subtitleText{
    font-size: small;
    color: rgb(90, 63, 27);
}

.scoreRating{
    vertical-align: top;
}

.category{
    margin-left: 1em;
    background-color: lightblue;
    padding-right: 0.5em;
    padding-left: 0.3em;
    border-radius: 0.5em;
}

.establishmentList{
    list-style:none;
}

.artificialMargin{
    margin-right: 1em;
}

.spacing {
    margin-left: 200px;
}